<div class="text-right mb-2">
  <%= link_to "View #{commentable.name}", polymorphic_path(commentable), class: "text-blue-600 hover:text-blue-700" %>
</div>
<%= render "form", comment: Comment.new, commentable: commentable %>
<div class="py-4 divide-y divide-gray-300" id="comments">
  <%= render comments %>
</div>
