<h1>Editing applicant</h1>

<%= render "form", applicant: @applicant %>

<br>

<div>
  <%= link_to "Show this applicant", @applicant %> |
  <%= link_to "Back to applicants", applicants_path %>
</div>
