<div class="space-y-6 flex flex-col">
  <h2 class="text-3xl">Great work, <%= applicant.first_name %>!</h2>
  <p>Great work Your application for <%= job.title %> has been submitted. You can close this drawer when you are done celebrating.</p>
  <button data-action="click->slideover#close" class="btn-primary-outline">Close this drawer</button>
</div>
